<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Adonis - Posts</title>
        {{ style('posts') }}
    </head>
    <body>
        <header>
            <form action="{{route('create-post')}}" method="POST">
                <div>
                    <label for="title">Título</label><input type="text" id="title" name="title">
                </div>

                <div>
                    <label for="body">Corpo</label><textarea id="body" name="body"></textarea>
                </div>

                <input type="submit" id="send-button">
            </form>
        </header>

        <main>
            @each(post in posts)
                <article>
                    <h1>{{post.title}}</h1>
                    <p>{{post.body}}</p>
                </article>
            @endeach
        </main>
    </body>
</html>
