@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    width: 100%;
    padding: 16px;
    background-color: #220052;
    display: flex;
}

header form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 20px;
}

header form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 16px 8px;
}

header form label {
    color: white;
    font-size: 0.85rem;
    margin-right: 16px;
}

header form div input, header form div textarea {
    flex: 0.9;
    border-radius: 4px;
    padding: 5px 6px;
}

header form input#send-button {
    width: 16vw;
    height: 4vw;
    background-color: white;
    border-radius: 8px;
    border: none;
    align-self: flex-end;
}

header #pages {
    align-self: flex-end;
    justify-content: center;
    display: flex;
    flex: 1;
}

header #pages a {
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

header #pages #active {
    background: rgba(255, 255, 255, 0.1);
    cursor: default;
    pointer-events: none;
}

header #pages #back {
    margin-right: auto; 
}

header #pages #forward {
    margin-left: auto;
}

.invisible {
    visibility: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main article {
    width: 100%;
    background-color: #DFDFDF;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px 0px black;
    margin-bottom: 8px;
}

main article p {
    white-space: pre-line;
}